$color-dark-blue: #355070;
$color-purple: #6D597A;
$color-rose: #B56576;
$color-light-red: #E56B6F;
$color-light-orange: #EAAC8B;

$breakpoint-md: 768px; // Переменная для среднего брейкпоинта

// Add other global variables here, e.g., fonts, spacing, etc. 